Indicate-ElevateAccess/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "The Logic App searches management.azure.com on a single subscription to obtain RoleDefID, Scope, and PrincipalID that recieved User Access Administrator Role Assignment at Root Subscription Scope. This may be indicative AAD Global Admin has Elevated Access to Azure MG via AAD Portal or REST API.",
        "author": "Nathan Swift"
    },
    "parameters": {
        "LogicAppName": {
            "defaultValue": "Indicate-ElevateAccess",
            "type": "String"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "SubId": {
            "defaultValue": "<SUBSCRIPTION ID HERE TO MONITOR>",
            "type": "string"
        },
        "SendToEmail": {
            "defaultValue": "sendtoemail@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "office365ConnectionName": "[concat('office365-', parameters('LogicAppName'))]" 
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "SecurityEmailContact": {
                            "defaultValue": "[parameters('SendToEmail')]",
                            "type": "String"
                        },
                        "SubID": {
                            "defaultValue": "[parameters('SubId')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 5,
                                "timeZone": "Eastern Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "For_each": {
                                    "foreach": "@body('FilterAssigns')",
                                    "actions": {
                                        "Append_to_array_variable": {
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "assignarray",
                                                "value": "@items('For_each')?['properties']?['principalId']"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Foreach"
                                },
                                "GetObjectbyObjectIds": {
                                    "runAfter": {
                                        "For_each": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "ids": "@variables('assignarray')",
                                            "types": [
                                                "user",
                                                "group",
                                                "ServicePrincipal"
                                            ]
                                        },
                                        "method": "POST",
                                        "uri": "https://graph.microsoft.com/v1.0/directoryObjects/getByIds"
                                    }
                                },
                                "Send_an_email_(V2)": {
                                    "runAfter": {
                                        "GetObjectbyObjectIds": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Attachments": [
                                                {
                                                    "ContentBytes": "@{base64(body('GetObjectbyObjectIds'))}",
                                                    "Name": "@{parameters('SubID')}.json"
                                                }
                                            ],
                                            "Body": "<p>During a scan on SubscriptionID @{parameters('SubID')}<br>\n<br>\nFolks have been discovered assigned to the 'User Access Administrator' role at Subscription Scope '/'<br>\n<br>\nThis typically indicates a AAD Global Admin has Elevated Access to Azure MG via AAD.<br>\n<br>\nSee: https://docs.microsoft.com/en-us/azure/role-based-access-control/elevate-access-global-admin#elevate-access-for-a-global-administrator<br>\n<br>\nPlease check with your Identity Team as this may indicate a potential escalation of privileges.<br>\n<br>\nCurrent Members in this Role and Scope:<br>\n<br>\n<br>\n@{body('GetObjectbyObjectIds')}</p>",
                                            "Importance": "High",
                                            "Subject": "Potential Elevated Access via Azure AD Portal or API",
                                            "To": "@parameters('SecurityEmailContact')"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    }
                                }
                            },
                            "runAfter": {
                                "FilterAssigns": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@body('FilterAssigns')",
                                                "@null"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "FilterAssigns": {
                            "runAfter": {
                                "GetRoleAssignments": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('GetRoleAssignments')?['value']",
                                "where": "@and(contains(item()?['properties']?['roleDefinitionId'], concat('/subscriptions/', parameters('SubID'),'/providers/Microsoft.Authorization/roleDefinitions/18d7d88d-d35e-4fb5-a5c3-7773c20a72d9')), equals(item()?['properties']?['scope'], '/'))"
                            }
                        },
                        "GetRoleAssignments": {
                            "runAfter": {
                                "Initialize_assignarray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com//subscriptions/@{parameters('SubID')}/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01"
                            }
                        },
                        "Initialize_assignarray": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "assignarray",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}