Secure Score/Send-SecureScoreBriefingAlt/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This playbook will send a weekly Security Score briefing obtaining 15 subs per time chart",
        "author": "Nathan Swift"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Send-SecureScoreBriefingAlt",
            "type": "String"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "SendEmailTo": {
            "defaultValue": "<sendtoemail>@<domain>",
            "type": "string"
        },
        "SecureScoreLogAnalyticsSubId": {
            "defaultValue": "YourLogAnalyticsWorkspaceCollectingSecureScore-SubscriptionID",
            "type": "string"
        },
        "SecureScoreLogAnalyticsRGName": {
            "defaultValue": "YourLogAnalyticsWorkspaceCollectingSecureScore-ResourceGroupName",
            "type": "string"
        },
        "SecureScoreLogAnalyticsName": {
            "defaultValue": "YourLogAnalyticsWorkspaceCollectingSecureScore-WorkspaceName",
            "type": "string"
        }
    },
    "variables": {
        "azuremonitorlogsConnectionName": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]",
        "Office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('Office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azuremonitorlogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('azuremonitorlogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "SecureScoreLogAnalyticsName": {
                            "defaultValue": "[parameters('SecureScoreLogAnalyticsName')]",
                            "type": "String"
                        },
                        "SecureScoreLogAnalyticsRGName": {
                            "defaultValue": "[parameters('SecureScoreLogAnalyticsRGName')]",
                            "type": "String"
                        },
                        "SecureScoreLogAnalyticsSubId": {
                            "defaultValue": "[parameters('SecureScoreLogAnalyticsSubId')]",
                            "type": "String"
                        },
                        "ComplianceEmailAddress": {
                            "defaultValue": "[parameters('SendEmailTo')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Week",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "9"
                                    ],
                                    "weekDays": [
                                        "Monday"
                                    ]
                                }
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "CurrentDate": {
                            "runAfter": {},
                            "type": "Expression",
                            "kind": "CurrentTime",
                            "inputs": {}
                        },
                        "CurrentDateFormat": {
                            "runAfter": {
                                "PastWeekDate": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Expression",
                            "kind": "ConvertTimeZone",
                            "inputs": {
                                "baseTime": "@body('CurrentDate')",
                                "destinationTimeZone": "UTC",
                                "formatString": "d",
                                "sourceTimeZone": "UTC"
                            }
                        },
                        "DiscoverSubscriptions": {
                            "runAfter": {
                                "PastDateFormat": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "Subscriptions_CL\n| extend Subscription = displayName_s \n| distinct Subscription, SubscriptionId\n| serialize Num = row_number()",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "@parameters('SecureScoreLogAnalyticsRGName')",
                                    "resourcename": "@parameters('SecureScoreLogAnalyticsName')",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "@parameters('SecureScoreLogAnalyticsSubId')",
                                    "timerange": "Last 7 days"
                                }
                            }
                        },
                        "Initialize_variable_SubsObj": {
                            "runAfter": {
                                "DiscoverSubscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "subs",
                                        "type": "array",
                                        "value": "@body('DiscoverSubscriptions')?['value']"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_attach1": {
                            "runAfter": {
                                "Initialize_variable_img5": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "attach1",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_attach2": {
                            "runAfter": {
                                "Initialize_variable_attach1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "attach2",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_attach3": {
                            "runAfter": {
                                "Initialize_variable_attach2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "attach3",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_attach4": {
                            "runAfter": {
                                "Initialize_variable_attach3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "attach4",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_attach5": {
                            "runAfter": {
                                "Initialize_variable_attach4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "attach5",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_attachnam1": {
                            "runAfter": {
                                "Initialize_variable_attach5": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "attachname1",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_attachnam2": {
                            "runAfter": {
                                "Initialize_variable_attachnam1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "attachname2",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_attachnam3": {
                            "runAfter": {
                                "Initialize_variable_attachnam2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "attachname3",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_attachnam4": {
                            "runAfter": {
                                "Initialize_variable_attachnam3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "attachname4",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_attachnam5": {
                            "runAfter": {
                                "Initialize_variable_attachnam4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "attachname5",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_currentcounter": {
                            "runAfter": {
                                "Initialize_variable_simplecounter": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "currentcounter",
                                        "type": "integer",
                                        "value": 1
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_img1": {
                            "runAfter": {
                                "Initialize_variable_subhighcounter": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "img1",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_img2": {
                            "runAfter": {
                                "Initialize_variable_img1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "img2",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_img3": {
                            "runAfter": {
                                "Initialize_variable_img2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "img3",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_img4": {
                            "runAfter": {
                                "Initialize_variable_img3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "img4",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_img5": {
                            "runAfter": {
                                "Initialize_variable_img4": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "img5",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_maxcounter": {
                            "runAfter": {
                                "ObtainMaxSubs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "maxcounter",
                                        "type": "integer",
                                        "value": "@body('ObtainMaxSubs')?['value'][0]?['subs']"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_simplecounter": {
                            "runAfter": {
                                "Initialize_variable_SubsObj": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "simplecounter",
                                        "type": "integer",
                                        "value": 1
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_subhighcounter": {
                            "runAfter": {
                                "Initialize_variable_sublowcounter": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "subhighcounter",
                                        "type": "integer",
                                        "value": 105
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_sublowcounter": {
                            "runAfter": {
                                "Initialize_variable_maxcounter": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "sublowcounter",
                                        "type": "integer",
                                        "value": 1
                                    }
                                ]
                            }
                        },
                        "ObtainMaxSubs": {
                            "runAfter": {
                                "Initialize_variable_currentcounter": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "Subscriptions_CL\n| extend Subscription = displayName_s \n| summarize Subs=dcount(Subscription)",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "@parameters('SecureScoreLogAnalyticsRGName')",
                                    "resourcename": "@parameters('SecureScoreLogAnalyticsName')",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "@parameters('SecureScoreLogAnalyticsSubId')",
                                    "timerange": "Last 7 days"
                                }
                            }
                        },
                        "PastDateFormat": {
                            "runAfter": {
                                "CurrentDateFormat": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Expression",
                            "kind": "ConvertTimeZone",
                            "inputs": {
                                "baseTime": "@body('PastWeekDate')",
                                "destinationTimeZone": "UTC",
                                "formatString": "d",
                                "sourceTimeZone": "UTC"
                            }
                        },
                        "PastWeekDate": {
                            "runAfter": {
                                "CurrentDate": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Expression",
                            "kind": "SubtractFromTime",
                            "inputs": {
                                "baseTime": "@body('CurrentDate')",
                                "interval": 1,
                                "timeUnit": "Week"
                            }
                        },
                        "SecureScoreRankingsViz": {
                            "runAfter": {
                                "Until": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "SecureScoreControls_CL\n| extend SubscriptionId = tostring(split(id_s, \"/\", 2)[0]), SecurityControl = properties_displayName_s\n| where properties_score_max_d != 0\n| join kind = leftouter (Subscriptions_CL) \non $left.SubscriptionId == $right.SubscriptionId\n| summarize by Subscription = displayName_s, ScorePercent = round((round(properties_score_current_d, 0)*100)/properties_score_max_d, 0), SecurityControl\n| where ScorePercent != 100\n| sort by Subscription asc , ScorePercent desc",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/visualizeQuery",
                                "queries": {
                                    "resourcegroups": "@parameters('SecureScoreLogAnalyticsRGName')",
                                    "resourcename": "@parameters('SecureScoreLogAnalyticsName')",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "@parameters('SecureScoreLogAnalyticsSubId')",
                                    "timerange": "Last 24 hours",
                                    "visType": "Html Table"
                                }
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "SecureScoreRankingsViz": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Attachments": [
                                        {
                                            "ContentBytes": "@{base64(variables('attach1'))}",
                                            "Name": "@variables('attachname1')"
                                        },
                                        {
                                            "ContentBytes": "@{base64(variables('attach2'))}",
                                            "Name": "@variables('attachname2')"
                                        },
                                        {
                                            "ContentBytes": "@{base64(variables('attach3'))}",
                                            "Name": "@variables('attachname3')"
                                        },
                                        {
                                            "ContentBytes": "@{base64(variables('attach4'))}",
                                            "Name": "@variables('attachname4')"
                                        },
                                        {
                                            "ContentBytes": "@{base64(variables('attach5'))}",
                                            "Name": "@variables('attachname5')"
                                        }
                                    ],
                                    "Body": "<p><span style=\"font-size: 30px\">Security Score weekly briefing<br>\n<br>\n</span><br>\n<br>\n<span style=\"font-size: 14px\">Daily trending secure score by subscription - Are you trending down ? </span><a href=\"https://portal.azure.com/#blade/Microsoft_Azure_Security/SecurityMenuBlade/23\"><span style=\"font-size: 14px\">Review unhealthy Security Control details</span></a><span style=\"font-size: 14px\"><br>\n<br>\n</span><span style=\"font-size: 10px\"><em>Remediate unhealthy resources under Security Controls<br>\nImplement </em></span><a href=\"https://azsk.azurewebsites.net/\"><span style=\"font-size: 10px\"><em>SecureDevOps Kit for Azure</em></span></a><span style=\"font-size: 10px\"><em> , design and deploy securely</em></span><span style=\"font-size: 14px\"><br>\n</span><span style=\"font-size: 12px\"><br>\n</span><br>\n@{variables('img1')}<br>\n<br>\n<br>\n@{variables('img2')}<br>\n<br>\n<span style=\"font-size: 10px\"><br>\n</span><span style=\"font-family: arial\">UnHealthy SecurityControl Rankings</span><span style=\"font-size: 12px\"><br>\n<br>\n</span><span style=\"font-size: 12px\">@{base64ToString(body('SecureScoreRankingsViz')?['attachmentContent'])}</span><span style=\"font-size: 12px\"></span></p>",
                                    "Importance": "High",
                                    "Subject": "Security Score weekly briefing |  @{body('PastDateFormat')} - @{body('CurrentDateFormat')}",
                                    "To": "@parameters('ComplianceEmailAddress')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Until": {
                            "actions": {
                                "Increment_variable": {
                                    "runAfter": {
                                        "Switch": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "currentcounter",
                                        "value": 15
                                    }
                                },
                                "Increment_variable_2": {
                                    "runAfter": {
                                        "Increment_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "simplecounter",
                                        "value": 1
                                    }
                                },
                                "Increment_variable_3": {
                                    "runAfter": {
                                        "Increment_variable_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "sublowcounter",
                                        "value": 105
                                    }
                                },
                                "Increment_variable_4": {
                                    "runAfter": {
                                        "Increment_variable_3": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "subhighcounter",
                                        "value": 105
                                    }
                                },
                                "SecureScoreViz": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "SecureScore_CL\n| extend ScorePrecent = round((round(properties_score_current_d, 0)*100)/properties_score_max_d, 0), SubscriptionId = strcat(split(id_s, '/')[2])\n| join kind = leftouter (Subscriptions_CL) \non $left.SubscriptionId == $right.SubscriptionId\n| summarize by Date = format_datetime(TimeGenerated, 'dd-MM-yyyy'), ScorePrecent, Subscription = displayName_s\n| sort by Subscription asc \n| serialize Num = row_number()\n| where Num between (@{variables('sublowcounter')} .. @{variables('subhighcounter')})",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/visualizeQuery",
                                        "queries": {
                                            "resourcegroups": "@parameters('SecureScoreLogAnalyticsRGName')",
                                            "resourcename": "@parameters('SecureScoreLogAnalyticsName')",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "@parameters('SecureScoreLogAnalyticsSubId')",
                                            "timerange": "Last 7 days",
                                            "visType": "Time Chart"
                                        }
                                    }
                                },
                                "Switch": {
                                    "runAfter": {
                                        "SecureScoreViz": [
                                            "Succeeded"
                                        ]
                                    },
                                    "cases": {
                                        "Case": {
                                            "case": 1,
                                            "actions": {
                                                "Set_variable": {
                                                    "runAfter": {
                                                        "Set_variable_img1": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "attach1",
                                                        "value": "@base64ToString(body('SecureScoreViz')?['attachmentContent'])"
                                                    }
                                                },
                                                "Set_variable_3": {
                                                    "runAfter": {
                                                        "Set_variable": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "attachname1",
                                                        "value": "@body('SecureScoreViz')?['attachmentName']"
                                                    }
                                                },
                                                "Set_variable_img1": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "img1",
                                                        "value": "<img src=\"cid:@{body('SecureScoreViz')?['attachmentName']}\"/>"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_2": {
                                            "case": 2,
                                            "actions": {
                                                "Set_variable_2": {
                                                    "runAfter": {
                                                        "Set_variable_img2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "attach2",
                                                        "value": "@base64ToString(body('SecureScoreViz')?['attachmentContent'])"
                                                    }
                                                },
                                                "Set_variable_4": {
                                                    "runAfter": {
                                                        "Set_variable_2": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "attachname2",
                                                        "value": "@body('SecureScoreViz')?['attachmentName']"
                                                    }
                                                },
                                                "Set_variable_img2": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "img2",
                                                        "value": "<img src=\"cid:@{body('SecureScoreViz')?['attachmentName']}\"/>"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_3": {
                                            "case": 3,
                                            "actions": {
                                                "Set_variable_5": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "img3",
                                                        "value": "<img src=\"cid:@{body('SecureScoreViz')?['attachmentName']}\"/>"
                                                    }
                                                },
                                                "Set_variable_6": {
                                                    "runAfter": {
                                                        "Set_variable_5": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "attach3",
                                                        "value": "@base64ToString(body('SecureScoreViz')?['attachmentContent'])"
                                                    }
                                                },
                                                "Set_variable_7": {
                                                    "runAfter": {
                                                        "Set_variable_6": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "attachname3",
                                                        "value": "@body('SecureScoreViz')?['attachmentName']"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_4": {
                                            "case": 4,
                                            "actions": {
                                                "Set_variable_10": {
                                                    "runAfter": {
                                                        "Set_variable_8": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "attach4",
                                                        "value": "@base64ToString(body('SecureScoreViz')?['attachmentContent'])"
                                                    }
                                                },
                                                "Set_variable_12": {
                                                    "runAfter": {
                                                        "Set_variable_10": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "attachname4",
                                                        "value": "@body('SecureScoreViz')?['attachmentName']"
                                                    }
                                                },
                                                "Set_variable_8": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "img4",
                                                        "value": "<img src=\"cid:@{body('SecureScoreViz')?['attachmentName']}\"/>"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_5": {
                                            "case": 5,
                                            "actions": {
                                                "Set_variable_11": {
                                                    "runAfter": {
                                                        "Set_variable_9": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "attach5",
                                                        "value": "@base64ToString(body('SecureScoreViz')?['attachmentContent'])"
                                                    }
                                                },
                                                "Set_variable_13": {
                                                    "runAfter": {
                                                        "Set_variable_11": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "attachname5",
                                                        "value": "@body('SecureScoreViz')?['attachmentName']"
                                                    }
                                                },
                                                "Set_variable_9": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "img5",
                                                        "value": "<img src=\"cid:@{body('SecureScoreViz')?['attachmentName']}\"/>"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {}
                                    },
                                    "expression": "@variables('simplecounter')",
                                    "type": "Switch"
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_attachnam5": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@greater(variables('currentcounter'), variables('maxcounter'))",
                            "limit": {
                                "count": 60,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuremonitorlogsConnectionName'))]",
                                "connectionName": "[variables('azuremonitorlogsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName": "[variables('Office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}