XDRAlertIsolate-MDEDevice/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "XDRAlertIsolate-MDEDevice",
        "description":  "The following Logic App is designed to poll Security Graph frequently 1 minute for High Severity Alerts. Upon a High Alert trigger and lookup DeviceId and Isolate Device",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  "Nathan Swift"
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "XDRAlertIsolate-MDEDevice",
            "type":  "string"
        }
    },
    "variables":  {
        "MicrosoftgraphsecurityConnectionName":  "[concat('Microsoftgraphsecurity-', parameters('PlaybookName'))]",
        "WdatpConnectionName":  "[concat('Wdatp-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "On_new_high_severity_alerts":  {
                            "recurrence":  {
                                "frequency":  "Minute",
                                "interval":  1
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Minute",
                                "interval":  1
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['microsoftgraphsecurity_1']['connectionId']"
                                    }
                                },
                                "method":  "get",
                                "path":  "/trigger/beta/security/alerts"
                            }
                        }
                    },
                    "actions":  {
                        "Advanced_Hunting":  {
                            "runAfter":  {
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "Query":  "DeviceInfo | where DeviceName contains \"@{triggerBody()?['value'][0]?['hostStates'][0]?['fqdn']}\"\n| distinct DeviceId"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['wdatp']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/api/advancedqueries/run"
                            }
                        },
                        "Condition":  {
                            "actions":  {
                                "Actions_-_Isolate_machine":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "Comment":  "Machine Isolated via Automation",
                                            "IsolationType":  "Full"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['wdatp']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/api/machines/@{encodeURIComponent(body('Advanced_Hunting')?['Results'][0]?['DeviceId'])}/isolate"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Advanced_Hunting":  [
                                    "Succeeded"
                                ]
                            },
                            "expression":  {
                                "and":  [
                                    {
                                        "not":  {
                                            "equals":  [
                                                "@body('Advanced_Hunting')?['Results'][0]?['DeviceId']",
                                                "@null"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type":  "If"
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "microsoftgraphsecurity_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftgraphsecurityConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftgraphsecurityConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Microsoftgraphsecurity')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "wdatp":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('WdatpConnectionName'))]",
                                "connectionName":  "[variables('WdatpConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "XDRAlertIsolate-MDEDevice",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftgraphsecurityConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('WdatpConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftgraphsecurityConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftgraphsecurityConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Microsoftgraphsecurity')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('WdatpConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('WdatpConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]"
                }
            }
        }
    ]
}
