Audit-RoleAssignment/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "The Logic App creates and uses a Managed System Identity (MSI) to authenticate and authorize against management.azure.com to obtain RoleDefID, Scope, and PrincipalID that recieved Role Assignment. The MSI is also used to authenticate and authorize against graph.windows.net to obtains RBAC Objects by PrincipalIDs.",
        "author": "Nathan Swift"
    },    
    "parameters": {
        "LogicAppName": {
            "defaultValue": "Audit-RoleAssignment",
            "type": "String"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "SendToEmail": {
            "defaultValue": "sendtoemail@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "office365ConnectionName": "[concat('office365-', parameters('LogicAppName'))]"  
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "EmailNotifyAddress": {
                            "defaultValue": "[parameters('SendToEmail')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "AADObjectDetails": {
                            "runAfter": {
                                "RoleName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "ids": [
                                        "@{variables('objectid')}"
                                    ]
                                },
                                "method": "POST",
                                "uri": "https://graph.microsoft.com/v1.0/directoryObjects/getByIds"
                            }
                        },
                        "FilterRoleAssignInfo": {
                            "runAfter": {
                                "Initialize_variable_trig": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('RoleAssigns')?['value']",
                                "where": "@equals(toLower(item()?['id']), variables('trig'))"
                            }
                        },
                        "Initialize_variable_objectid": {
                            "runAfter": {
                                "Initialize_variable_roledefid": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "objectid",
                                        "type": "string",
                                        "value": "@{body('FilterRoleAssignInfo')[0]?['properties']?['principalId']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_roledefid": {
                            "runAfter": {
                                "FilterRoleAssignInfo": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "roledefid",
                                        "type": "string",
                                        "value": "@{first(skip(split(body('FilterRoleAssignInfo')[0]?['properties']?['roleDefinitionId'],'/'),6))}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_scope": {
                            "runAfter": {
                                "Initialize_variable_objectid": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "scope",
                                        "type": "string",
                                        "value": "@{body('FilterRoleAssignInfo')[0]?['properties']?['scope']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_trig": {
                            "runAfter": {
                                "RoleAssigns": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "trig",
                                        "type": "string",
                                        "value": "@{toLower(triggerBody()?['data']?['context']?['activityLog']?['resourceId'])}"
                                    }
                                ]
                            }
                        },
                        "RoleAssigns": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/@{triggerBody()?['data']?['context']?['activityLog']?['resourceId']}/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01"
                            }
                        },
                        "RoleName": {
                            "runAfter": {
                                "Initialize_variable_scope": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/@{variables('scope')}/providers/Microsoft.Authorization/roleDefinitions/@{variables('roledefid')}?api-version=2015-07-01"
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "AADObjectDetails": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>Role Assignment for: @{body('AADObjectDetails')['value'][0]?['displayName']} ( @{body('AADObjectDetails')['value'][0]?['userPrincipalName']} ) on @{variables('scope')} with role: @{body('RoleName')?['properties']?['roleName']} by @{triggerBody()?['data']?['context']?['activityLog']?['caller']}</p>",
                                    "Importance": "High",
                                    "Subject": "Role Assignment on @{variables('scope')}",
                                    "To": "@parameters('EmailNotifyAddress')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}