Audit-RoleAssignment/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This Logic App will read the NSG Crate or Update activity event and enrich the event with the actual NSG Rule change details. It will then notify a team.",
        "author": "Nathan Swift"
    },    
    "parameters": {
        "LogicAppName": {
            "defaultValue": "Audit-RoleAssignment",
            "type": "String"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "SendToEmail": {
            "defaultValue": "sendtoemail@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "office365ConnectionName": "[concat('office365-', parameters('LogicAppName'))]"  
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "EmailNotifyAddress": {
                            "defaultValue": "[parameters('SendToEmail')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "alertContext": {
                                                    "properties": {
                                                        "AffectedConfigurationItems": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "AlertType": {
                                                            "type": "string"
                                                        },
                                                        "IncludeSearchResults": {
                                                            "type": "boolean"
                                                        },
                                                        "IncludedSearchResults": {
                                                            "type": "string"
                                                        },
                                                        "LinkToFilteredSearchResultsAPI": {
                                                            "type": "string"
                                                        },
                                                        "LinkToFilteredSearchResultsUI": {
                                                            "type": "string"
                                                        },
                                                        "LinkToSearchResults": {
                                                            "type": "string"
                                                        },
                                                        "LinkToSearchResultsAPI": {
                                                            "type": "string"
                                                        },
                                                        "Operator": {
                                                            "type": "string"
                                                        },
                                                        "ResultCount": {
                                                            "type": "integer"
                                                        },
                                                        "SearchIntervalDurationMin": {
                                                            "type": "string"
                                                        },
                                                        "SearchIntervalEndtimeUtc": {
                                                            "type": "string"
                                                        },
                                                        "SearchIntervalInMinutes": {
                                                            "type": "string"
                                                        },
                                                        "SearchIntervalStartTimeUtc": {
                                                            "type": "string"
                                                        },
                                                        "SearchQuery": {
                                                            "type": "string"
                                                        },
                                                        "SearchResults": {
                                                            "properties": {
                                                                "dataSources": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "region": {
                                                                                "type": "string"
                                                                            },
                                                                            "resourceId": {
                                                                                "type": "string"
                                                                            },
                                                                            "tables": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "resourceId",
                                                                            "region",
                                                                            "tables"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "statistics": {
                                                                    "properties": {
                                                                        "query": {
                                                                            "properties": {
                                                                                "datasetStatistics": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "tableRowCount": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "tableSize": {
                                                                                                "type": "integer"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "tableRowCount",
                                                                                            "tableSize"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "executionTime": {
                                                                                    "type": "number"
                                                                                },
                                                                                "inputDatasetStatistics": {
                                                                                    "properties": {
                                                                                        "extents": {
                                                                                            "properties": {
                                                                                                "scanned": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "scannedMaxDatetime": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "scannedMinDatetime": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "total": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "rows": {
                                                                                            "properties": {
                                                                                                "scanned": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "total": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "rowstores": {
                                                                                            "properties": {
                                                                                                "scannedRows": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "scannedValuesSize": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "shards": {
                                                                                            "properties": {
                                                                                                "queriesGeneric": {
                                                                                                    "type": "integer"
                                                                                                },
                                                                                                "queriesSpecialized": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "resourceUsage": {
                                                                                    "properties": {
                                                                                        "cache": {
                                                                                            "properties": {
                                                                                                "disk": {
                                                                                                    "properties": {
                                                                                                        "hits": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "misses": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "total": {
                                                                                                            "type": "integer"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "memory": {
                                                                                                    "properties": {
                                                                                                        "hits": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "misses": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "total": {
                                                                                                            "type": "integer"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "shards": {
                                                                                                    "properties": {
                                                                                                        "bypassbytes": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "hitbytes": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "missbytes": {
                                                                                                            "type": "integer"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "cpu": {
                                                                                            "properties": {
                                                                                                "kernel": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "totalCpu": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "user": {
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        },
                                                                                        "memory": {
                                                                                            "properties": {
                                                                                                "peakPerNode": {
                                                                                                    "type": "integer"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "tables": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "columns": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "type": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "name",
                                                                                        "type"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "rows": {
                                                                                "items": {
                                                                                    "items": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "type": "array"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "name",
                                                                            "columns",
                                                                            "rows"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "SeverityDescription": {
                                                            "type": "string"
                                                        },
                                                        "Threshold": {
                                                            "type": "integer"
                                                        },
                                                        "WorkspaceId": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "essentials": {
                                                    "properties": {
                                                        "alertContextVersion": {
                                                            "type": "string"
                                                        },
                                                        "alertId": {
                                                            "type": "string"
                                                        },
                                                        "alertRule": {
                                                            "type": "string"
                                                        },
                                                        "alertTargetIDs": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "essentialsVersion": {
                                                            "type": "string"
                                                        },
                                                        "firedDateTime": {
                                                            "type": "string"
                                                        },
                                                        "monitorCondition": {
                                                            "type": "string"
                                                        },
                                                        "monitoringService": {
                                                            "type": "string"
                                                        },
                                                        "originAlertId": {
                                                            "type": "string"
                                                        },
                                                        "severity": {
                                                            "type": "string"
                                                        },
                                                        "signalType": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "schemaId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "AADObjectDetails": {
                            "runAfter": {
                                "RoleName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "ids": [
                                        "@{variables('objectid')}"
                                    ]
                                },
                                "method": "POST",
                                "uri": "https://graph.microsoft.com/v1.0/directoryObjects/getByIds"
                            }
                        },
                        "FilterRoleAssignInfo": {
                            "runAfter": {
                                "Initialize_variable_trig": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('RoleAssigns')?['value']",
                                "where": "@equals(toLower(item()?['id']), variables('trig'))"
                            }
                        },
                        "Initialize_variable_objectid": {
                            "runAfter": {
                                "Initialize_variable_roledefid": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "objectid",
                                        "type": "string",
                                        "value": "@{body('FilterRoleAssignInfo')[0]?['properties']?['principalId']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_roledefid": {
                            "runAfter": {
                                "FilterRoleAssignInfo": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "roledefid",
                                        "type": "string",
                                        "value": "@{first(skip(split(body('FilterRoleAssignInfo')[0]?['properties']?['roleDefinitionId'],'/'),6))}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_scope": {
                            "runAfter": {
                                "Initialize_variable_objectid": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "scope",
                                        "type": "string",
                                        "value": "@{body('FilterRoleAssignInfo')[0]?['properties']?['scope']}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_trig": {
                            "runAfter": {
                                "RoleAssigns": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "trig",
                                        "type": "string",
                                        "value": "@{toLower(triggerBody()?['data']?['alertContext']?['AffectedConfigurationItems'][0])}"
                                    }
                                ]
                            }
                        },
                        "RoleAssigns": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/subscriptions/@{first(skip(split(triggerBody()?['data']?['essentials']?['alertTargetIDs'][0],'/'),2))}/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01"
                            }
                        },
                        "RoleName": {
                            "runAfter": {
                                "Initialize_variable_scope": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.azure.com/@{variables('scope')}/providers/Microsoft.Authorization/roleDefinitions/@{variables('roledefid')}?api-version=2015-07-01"
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "AADObjectDetails": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>Role Assignment for: @{body('AADObjectDetails')['value'][0]?['displayName']} ( @{body('AADObjectDetails')['value'][0]?['userPrincipalName']} ) on @{variables('scope')} with role: @{body('RoleName')?['properties']?['roleName']}by  @{triggerBody()?['data']?['alertContext']?['SearchResults']?['tables'][0]?['rows']}</p>",
                                    "Importance": "High",
                                    "Subject": "Role Assignment on @{variables('scope')}",
                                    "To": "@parameters('EmailNotifyAddress')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "office365",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}