Insert-ACMDatatoSQLDB/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This Logic App will run daily and pull yesterdays Azure Cost Management data and send to a Azure SQL Database.",
        "author": "Nathan Swift"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Insert-ACMDatatoSQLDB",
            "type": "String"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "EAAPIAccessKey": {
            "defaultValue": "PLACE YOUR EA API ACCESS KEY",
            "type": "String"
        },
        "EAEnrollNum": {
            "defaultValue": "PLACE YOUR EA ENROLLMENT NUMBER HERE",
            "type": "string"
        }
    },
    "variables": {
        "sqlConnectionName": "[concat('sql-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('sqlConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/sql')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "costmanagement"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('sqlConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "EAAPIAccessKey": {
                            "defaultValue": "[parameters('EAAPIAccessKey')]",
                            "type": "String"
                        },
                        "enrollmentNum": {
                            "defaultValue": "[parameters('EAEnrollNum')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "timeZone": "UTC"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "acmNextLink",
                                        "type": "string",
                                        "value": "@{null}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Set_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "breaker",
                                        "type": "boolean",
                                        "value": "@true"
                                    }
                                ]
                            }
                        },
                        "Set_variable": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "acmNextLink",
                                "value": "https://consumption.azure.com/v3/enrollments/@{parameters('enrollmentNum')}/usagedetailsbycustomdate?startTime=@{addDays(startOfDay(utcNow()), -2)}&endTime=@{addDays(startOfDay(utcNow()), -1)}"
                            }
                        },
                        "Until": {
                            "actions": {
                                "For_each": {
                                    "foreach": "@body('HTTP')?['data']",
                                    "actions": {
                                        "Insert_row_(V2)": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "accountId": "@{items('For_each')?['accountId']}",
                                                    "accountName": "@{items('For_each')?['accountName']}",
                                                    "accountOwnerEmail": "@{items('For_each')?['accountOwnerId']}",
                                                    "additionalInfo": "@{items('For_each')?['additionalInfo']}",
                                                    "chargesBilledSeparately": "@{items('For_each')?['chargesBilledSeparately']}",
                                                    "consumedQuantity": "@{items('For_each')?['consumedQuantity']}",
                                                    "consumedService": "@{items('For_each')?['consumedService']}",
                                                    "consumedServiceId": "@{items('For_each')?['consumedServiceId']}",
                                                    "cost": "@{items('For_each')?['cost']}",
                                                    "costCenter": "@{items('For_each')?['costCenter']}",
                                                    "date": "@{items('For_each')?['date']}",
                                                    "departmentId": "@{items('For_each')?['departmentId']}",
                                                    "departmentName": "@{items('For_each')?['departmentName']}",
                                                    "instanceId": "@{items('For_each')?['instanceId']}",
                                                    "location": "@{items('For_each')?['location']}",
                                                    "meterCategory": "@{items('For_each')?['meterCategory']}",
                                                    "meterId": "@{items('For_each')?['meterId']}",
                                                    "meterName": "@{items('For_each')?['meterName']}",
                                                    "meterRegion": "@{items('For_each')?['meterRegion']}",
                                                    "meterSubCategory": "@{items('For_each')?['meterSubCategory']}",
                                                    "offerId": "@{items('For_each')?['offerId']}",
                                                    "product": "@{items('For_each')?['product']}",
                                                    "productId": "@{items('For_each')?['productId']}",
                                                    "resourceGroup": "@{items('For_each')?['resourceGroup']}",
                                                    "resourceGuid": "@{items('For_each')?['resourceGuid']}",
                                                    "resourceLocation": "@{items('For_each')?['resourceLocation']}",
                                                    "resourceLocationId": "@{items('For_each')?['resourceLocationId']}",
                                                    "resourceRate": "@items('For_each')?['resourceRate']",
                                                    "runGuid": "@{guid()}",
                                                    "serviceAdministratorId": "@{items('For_each')?['serviceAdministratorId']}",
                                                    "serviceInfo1": "@{items('For_each')?['serviceInfo1']}",
                                                    "serviceInfo2": "@{items('For_each')?['serviceInfo2']}",
                                                    "serviceName": "@{items('For_each')?['serviceName']}",
                                                    "serviceTier": "@{items('For_each')?['serviceTier']}",
                                                    "storeServiceIdentifier": "@{items('For_each')?['storeServiceIdentifier']}",
                                                    "subscriptionGuid": "@{items('For_each')?['subscriptionGuid']}",
                                                    "subscriptionId": "@{items('For_each')?['subscriptionId']}",
                                                    "subscriptionName": "@{items('For_each')?['subscriptionName']}",
                                                    "tags": "@{items('For_each')?['tags']}",
                                                    "unitOfMeasure": "@{items('For_each')?['unitOfMeasure']}"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['sql_1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[AzureCostManagementTest11]'))}/items"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "HTTP": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "HTTP": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "headers": {
                                            "Authorization": "bearer @{parameters('EAAPIAccessKey')}"
                                        },
                                        "method": "GET",
                                        "uri": "@variables('acmNextLink')"
                                    }
                                },
                                "Set_variable_2": {
                                    "runAfter": {
                                        "For_each": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "acmNextLink",
                                        "value": "@{body('HTTP')?['nextLink']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@not(startsWith(variables('acmNextLink'), 'https://'))",
                            "limit": {
                                "count": 120,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "sql": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sqlConnectionName'))]",
                                "connectionName": "[variables('sqlConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/sql')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}