Restart-TPotVM/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppName": {
            "defaultValue": "Restart-TPotVM",
            "type": "String"
        },
        "AzureVMResourceId": {
            "defaultValue": "/subscriptions/SUBIDHERE/resourceGroups/RGNAMEHERE/providers/Microsoft.Compute/virtualMachines/VMNAMEHERE",
            "type": "String"
        }
    },
    "variables": {
        "AzureVMConnectionName": "[concat('azurevm-', parameters('LogicAppName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureVMConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "msi",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azurevm')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureVMConnectionName'))]"
            ],
            "name": "[parameters('LogicAppName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "Deallocate_virtual_machine": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurevm']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "[concat(parameters('AzureVMResourceId'), '/deallocate')]",
                                
                                "queries": {
                                    "api-version": "2019-12-01"
                                }
                            }
                        },
                        "Delay": {
                            "runAfter": {
                                "Deallocate_virtual_machine": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 15,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Start_virtual_machine": {
                            "runAfter": {
                                "Delay": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurevm']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "[concat(parameters('AzureVMResourceId'), '/start')]",
                                "queries": {
                                    "api-version": "2019-12-01"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurevm": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureVMConnectionName'))]",
                                "connectionName": "[variables('AzureVMConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azurevm')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}